# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
a.out

# Autotools
.deps/
.dirstamp
Makefile
autom4te.cache
config.h
config.h.in~
config.status
config.log
stamp-h1

# Visual Studio
msvc/.vs/
msvc/bin/
msvc/*.vcxproj.user

# Other
.DS_Store/
*.dSYM/
*.swp

