name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Bootstrap autotools
      run: autoreconf -i
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make test
      run: make test
